{{define "login"}}
<form
    id="form"
    hx-encoding="multipart/form-data"
    hx-post="/login/"
    hx-target="#messages" >
    <h1>Login</h1>
    <input type="text" placeholder="Username" name="username" class="field" />
    <p><input type="password" placeholder="Password" name="password" class="field" />
    <div class="check-box">
        <input type="checkbox" name="remember" id="remember" class="checkbox" />
        <label for="remember" >Remember me</label>
    </div>
    <button class="button">
        Login
    </button>
</form>
{{end}}
