{{define "file-table"}}
<div id="file-browser" class="file-browser">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="file-tbody">
            {{template "file-elements" .}}
        </tbody>
    </table>
</div>
{{end}}

{{define "file-elements"}}
{{range .Files}}
<tr id="{{.Name}}"
    class="{{.Name}}"
>
    <td class="td-title">
        <form style="margin:0"
            id="download"
            hx-post="/content"
            hx-target="#extra"
            hx-swap="innerHTML"
        >
            <input type="hidden" name="entry" value="{{.Name}}" />
            <input type="hidden" name="option" value="download" />
            <button class="file-name">{{.Name}}</button>
        </form>
    </td>
    <td>{{.Size}}</td>
    <td>{{.Date}}</td>
    <td class="td-buttons">
        <form
            id="delete"
            hx-post="/content"
            hx-target="#extra"
            hx-swap="innerHTML"
        >
            <input type="hidden" name="entry" value="{{.Name}}" />
            <input type="hidden" name="option" value="delete" />
            <button title="delete">delete</button>
        </form>
        <form
            id="rename"
            hx-post="/content"
            hx-target="#extra"
            hx-swap="innerHTML"
        >
            <input type="hidden" name="entry" value="{{.Name}}" />
            <input type="hidden" name="option" value="rename" />
            <button title="rename">rename</button>
        </form>
    </td>
</tr>
{{end}}
{{end}}

{{define "rename"}}
<div id="pop-window" class="pop-window">
    <button
        class="pop-close"
        hx-target="#extra"
        hx-post="/content"
        hx-trigger="click, keyup[key=='Escape'] from:body"
    ></button>
    <div class="box small-box">
        <form
            id="rename-form"
            hx-post="/content"
            hx-target="#extra"
        >
            <input type="hidden" name="option" value="rename" \>
            <input type="hidden" name="entry" value="{{.Name}}" \>
            <div class="file-input">
                <label for="newname">Rename the file</label>
                <p><input type="text" id="newname"
                    name="newname" value="{{.NewName}}" autofocus/>
            </div>
        </form>
        <div class="pop-buttons">
            <button form="rename-form" class="button" id="submit">Rename</button>
            <button class="button"
                hx-target="#extra"
                hx-post="/content"
            >cancel</button>
        </div>
        <div id="reply">
            {{.Message}}
        </div>
    </div>
</div>
{{end}}


{{define "delete"}}
<div id="pop-window" class="pop-window">
    <button
        class="pop-close"
        hx-target="#extra"
        hx-post="/content"
        hx-trigger="click, keyup[key=='Escape'] from:body"
    ></button>
    <div class="box small-box">
        <form
            id="delete-form"
            hx-post="/content"
            hx-target="#extra"
        >
            <input type="hidden" name="entry" value="{{.Name}}" />
            <input type="hidden" name="option" value="delete" />
            <input type="hidden" name="delete" value="yes" />
            <div class="delete-prompt">
                <p>Delete {{.Name}} ?
            </div>
        </form>
        <div class="pop-buttons">
            <button class="button"
                id="submit"
                form="delete-form"
                hx-post="/content"
                autofocus
            >yes</button>
            <button class="button"
                form="none"
                hx-target="#extra"
                hx-post="/content"
            >cancel</button>
        </div>
        <div id="reply">
            {{.Message}}
        </div>
    </div>
</div>
{{end}}
