{{define "upload"}}
<form
    id="form"
    hx-encoding="multipart/form-data"
    hx-post="/upload/"
    hx-target="#messages"
>
    <h1>File upload</h1>
    <input type="file" name="file" multiple="multiple" class="form">
    <p /><div class="check-box">
        <input type="checkbox" name="overwrite" id="overwrite" class="checkbox" />
        <label for="overwrite">Overwrite</label>
    </div>
    <button class="button">
        Upload File
    </button>
    <div id="update-progress">
        {{template "progress" .}}
    </div>
</form>
<button
    name="logout" id="logout" class="small-button"
    value="true"
    hx-post="/login/"
    hx-target="#main-form"
>Log out</button>
<div class="message-box" id="messages" class="messages"></div>
{{end}}

{{define "progress"}}
<p /><progress id="progress" value="0" max="100" style="visibility:hidden"></progress>
<script>
htmx.on("#main-form", "htmx:xhr:progress", function(evt) {
    htmx.find("#progress").style.visibility = "visible";
    htmx.find("#progress").setAttribute("value", evt.detail.loaded/evt.detail.total * 100);
});
htmx.on("#main-form", "htmx:xhr:loadend", function(evt) {
    htmx.find("#progress").style.visibility = "hidden";
});
</script>
{{end}}
