{{define "upload"}}
<form
    id="form"
    hx-encoding="multipart/form-data"
    hx-post="/upload/"
    hx-target="#messages"
>
    <h1>File upload</h1>
    <input type="file" name="file" multiple="multiple">
    <p><div class="check-box">
        <input type="checkbox" name="overwrite" id="overwrite" class="checkbox" />
        <label for="overwrite">Overwrite</label>
    </div>
    <button>
        Upload File
    </button>
</form>
<button
    name="logout" id="logout" value="true"
    hx-post="/login/"
    hx-target="#main-form"
>Log out</button>
<div class="message-box" id="messages" class="messages"></div>
{{end}}
