{{define "upload"}}
<div id="main-form" class="big-box box">
    <div class="upload-form">
        <form
            id="form"
            hx-encoding="multipart/form-data"
            hx-post="/upload"
            hx-target="#messages"
        >

            <div class="file-input">
                <input type="file" name="file" multiple="multiple">
                <div class="check-box">
                    <input type="checkbox" name="overwrite" id="overwrite" class="checkbox" />
                    <label for="overwrite">Overwrite</label>
                </div>
            </div>
        </form>

        <div>
            <button form="form" class="button upload">
                Upload File
            </button>
        </div>

        <div style="width:100%">
            <div class="message-box" id="messages">
            </div>
        </div>

        <button
            name="logout" id="logout" class="small-button"
            value="true"
            hx-post="/login"
            hx-target="#main-form"
        >Log out</button>

    </div>
    <div id="update-progress">
        {{template "progress" .}}
    </div>
    <table>
        <tbody id="directory">
            {{template "files" .}}
        </tbody>
    </table>
</div>
<div id="extra"></div>
{{end}}

{{define "progress"}}
<p /><progress id="progress" class="progress" value="0" max="100" style="visibility:hidden"></progress>
<script>
htmx.on("#main-form", "htmx:xhr:progress", function(evt) {
    htmx.find("#progress").style.visibility = "visible";
    htmx.find("#progress").setAttribute("value", evt.detail.loaded/evt.detail.total * 100);
});
htmx.on("#main-form", "htmx:xhr:loadend", function(evt) {
    htmx.find("#progress").style.visibility = "hidden";
});
</script>
{{end}}

{{define "files"}}
{{range .Files}}
<tr id="{{.Name}}"
    class="{{.Name}}"
>
    <td>{{.Name}}</td>
    <td>{{.Size}}</td>
    <td><button class=""
        name="download"
        value="{{.Name}}"
        hx-post="/files"
    >download</button></td>
    <td><button class=""
        name="delete"
        value="{{.Name}}"
        hx-post="/files"
    >delete</button></td>
    <td><button class=""
        name="rename"
        value="{{.Name}}"
        hx-post="/files"
        hx-target="#extra"
        hx-swap="innerHTML"
    >rename</button></td>
</tr>
{{end}}
{{end}}

{{define "file"}}
{{range .Files}}
<tr id="{{.Name}}"
    class="{{.Name}}"
    hx-swap-oob="outerHTML:#{{.Name}}"
>
    <td>{{.Name}}</td>
    <td>{{.Size}}</td>
    <td><button class=""
        name="download"
        value="{{.Name}}"
        hx-post="/files"
    >download</button></td>
    <td><button class=""
        name="delete"
        value="{{.Name}}"
        hx-post="/files"
    >delete</button></td>
    <td><button class=""
        name="rename"
        value="{{.Name}}"
        hx-post="/files"
        hx-target="#extra"
        hx-swap="innerHTML"
    >rename</button></td>
</tr>
{{end}}
{{end}}

{{define "rename"}}
<div id="pop-window" class="small-box box pop-window">
    <form
        id="rename-form"
        hx-post="/files"
        hx-target="#extra"
        hx-select-oob="#messages:innerHTML"
    >

        <div class="file-input">
            <label for="name">Rename the file</label>
            <input type="text" name="name" value="{{.Name}}" />
        </div>
        <button>Submit</button>
    </form>
    <button class="pop-close"
        hx-target="#extra"
    >×</button>
</div>
{{end}}
